.title {
    margin-bottom: 20px;
    margin-left: 0;
    margin-right: auto;
}

.description {
    margin-left: 0;
    margin-right: auto;
}

.container {
    display: flex;
    flex-direction: column;

    margin-top: 50px;
    margin-bottom: 20px;
}